-e git+https://git@github.com/NASA-Planetary-Science/sbpy.git#egg=sbpy
-e git+https://git@github.com/Small-Bodies-Node/sbsearch.git@v2#egg=sbsearch
-e git+https://git@github.com/Small-Bodies-Node/catch.git#egg=catch
psycopg2-binary
